@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat&display=swap');

body {
  font-family: Montserrat, sans-serif;
  padding-top: 70px;
  background-color: #eee;
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

#main {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#main h1 {
  font-family: Lemonada, sans-serif;
  font-size: 12vw;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#main p {
  margin: 0;
  font-size: 5vw;
}

#img-div {
  background-color: white;
  padding: 15px;
}

#image {
  max-width: 100%;
  display: block;
}

#img-caption {
  margin-top: 10px;
  font-size: 0.7em;
}

#tribute-info {
  width: 600px;
  margin: 50px auto;
}

#tribute-info h2 {
  text-align: center;
}

#tribute-info ul {
  list-style-type: none;
  padding: 0;
  display: flex;

  justify-content: center;
}

#tribute-info li {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.album {
  position: relative;
}

.album .album-img {
  width: 100%;
  height: 100%;
}

.album .album-overlay {
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
}

.album .album-overlay:hover {
  opacity: 1;
}

.release-date {
  font-size: 0.8em;
}

.album-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}

#videos {
  text-align: center;
}

.video-list {
  margin-top: 30px;
}

#follow {
  text-align: center;
  background-color: black;
  padding: 5px 0;
}

#follow h2 {
  color: white;
}

#follow ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

#follow li {
  font-size: 2em;
  margin: 0 10px;
}

#follow li a {
  color: white;
}
